{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
							"core": "./core",
        "extras": "./extras",
        "geometry": "./geometry",
        "helpers": "./helpers",
								"loaders": "./loaders",
        "materials": "./materials",
								"math": "./math",
								"shaders": "./shaders",
								"utils": "./utils",
      }
    }]
  ]
}
