body {
	margin: 0;
	overflow: hidden;
	font-size: 15px;
	background-color: black;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	padding: 2rem;
}

.demos {
	list-style: none;
	padding: 2rem;
}

.demos li {
	margin: 1rem 0;
}

#ixviii {
	width: 4rem;
	height: 4rem;
	background-size: 100%;
	background-image: url("assets/ixviii.svg");
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;;
	opacity: 0.5;
	transition: opacity 0.3s ease;
}

#ixviii:hover{
	opacity: 1;
}
