html {
  font-size: 15px;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 2rem;
}

.demos {
  list-style: none;
  padding: 2rem;
  column-count: 3;
}

.demos li {
  margin: 1rem 0;
}

#ixviii {
  width: 4rem;
  height: 4rem;
  background-size: 100%;
  background-image: url('../svg/ixviii.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

#ixviii:hover {
  opacity: 1;
}

#fps {
  background-color: black !important;
}

#fpsGraph > span {
  background-color: black !important;
}

#fpsText {
  color: white !important;
}

#fpsGraph {
  background-color: white !important;
}
